*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    height: 100vh;
    background-color: brown;
    font-family: Arial, Helvetica, sans-serif;
}

.score{
    color: aliceblue;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score h2{
    font-size: 30px;
}

.score p{
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

.intro{
    color: brown;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.4s ease;
}

.intro h1{
    font-size: 50px;
    color: aliceblue;
}

.intro button,
.match button{
    width: 130px;
    height: 50px;
    border: none;
    border-radius: 8px;
    background: none;
    font-size: 25px;
    cursor: pointer;
    background-color: aliceblue;
    cursor: pointer;
}

.match{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s ease 0.6s;
}

.winner{
    color: aliceblue;
    text-align: center;
    font-size: 60px;
}

.hands, .options{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-hand{
    transform: rotateY(180deg);
}

div.fadeOut{
    opacity: 0;
    max-width: 100%;
    pointer-events: none;
}

div.fadeIn{
    opacity: 1;
    pointer-events: all;
}

@keyframes shakePlayer {
    0%{
        transform: rotateY(180deg) translateY(0px);
    }
    15%{
        transform: rotateY(180deg) translateY(-50px);
    }
    25%{
        transform: rotateY(180deg) translateY(0px);
    }
    35%{
        transform: rotateY(180deg) translateY(-50px);
    }
    50%{
        transform: rotateY(180deg) translateY(0px);
    }
    65%{
        transform: rotateY(180deg) translateY(-50px);
    }
    75%{
        transform: rotateY(180deg) translateY(0px);
    }
    85%{
        transform: rotateY(180deg) translateY(-50px);
    }
    100%{
        transform: rotateY(180deg) translateY(0px);
    }
}

@keyframes shakeComputer{
    0%{
        transform: translateY(0px);
    }
    15%{
        transform: translateY(-50px);
    }
    25%{
        transform: translateY(0px);
    }
    35%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(0px);
    }
    65%{
        transform: translateY(-50px);
    }
    75%{
        transform: translateY(0px);
    }
    85%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
}

@media only screen and (max-width: 620px) {

    .winner {
        font-size: 30px;
    }
    .player-hand,
    .computer-hand{
        width: 120px;
    }
    .intro h1{
        font-size: 30px;
    }
    .options .rock,
    .options .paper,
    .options .scissors{
        font-size: 15px;
    }
    .match button{
        width: 70px;
        height: 38px;
    }
    .options{
        display: flex;
        width: 300px;
        align-items: center;
    }
  }